<div id="header" class="header" role="banner">
    <div style="background-color: lightgreen" class="section layout-container clearfix">
    {{ page.header }}
    {{ page.primary_menu }}
    </div>
</div>